.addProductBase {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.addProductHeading {
  font-size: 18px;
  width: 100%;
}
.inputContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputWrapper {
  width: 100%;
}
.inputLabel {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #5d6f69;
}
.buttonWrapper {
  margin-top: 20px;
  display: flex;
}
.resetButton {
  margin-left: 10px;
}
.errorMessage {
  font-size: 14px;
  margin-top: 20px;
  color: #ff0909;
  font-weight: 600;
}
